extends \templates\header.pug
block content
 
 div#loginField 
  form(method='post' action='/main' )
   fieldset 
    legend Вход 
    label Логин
    br
    input(type='text' name='userName')
    br
    br
    label Пароль
    br
    input(type='password' name='userPassword')
    br
    br
    input(type='submit' value='Отправить')
    p= message
 

