doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  style
      include style.css
  title Document

.select
  div(id="selectorElem")
   legend ID
   label
    | от:
    input(type='text' name='idFrom' pattern="^[ 0-9]+$")
   label
    | до:
    input(type='text' name='idTo' pattern="^[ 0-9]+$")
   legend &Icy;&mcy;&yacy;
   label
    input(type='text' name='firstname')
   legend &Fcy;&acy;&mcy;&icy;&lcy;&icy;&yacy;
   label
    input(type='text' name='lastname')
   legend Email
   label
    input(type='text' name='email')
   legend Телефонный номер
   label
    input(type='text' name='number' pattern="^[ 0-9]+$")
   legend Цена заказа
   label
    | &ocy;&tcy;:
    input(type='text' name='costFrom' pattern="^[ 0-9]+$")
   label
    | &dcy;&ocy;:
    input(type='text' name='costTo' pattern="^[ 0-9]+$")
   legend Дата
   label
    | от:
    input(type='text' name='dateFrom'  placeholder="ГГГГ-ММ-ДД ЧЧ-ММ-СС+ЧП")
   label
    | до:
    input(type='text' name='dateTo' placeholder="ГГГГ-ММ-ДД ЧЧ-ММ-СС+ЧП")
   legend &Scy;&tcy;&acy;&tcy;&ucy;&scy; &zcy;&acy;&kcy;&acy;&zcy;&acy;
   label
    input(type='text' name='status' pattern="^[ 0-2]+$")
    <br>
   input(type='submit' id="getElem")
   p= err

.tab
 table#tabOfElem
        tr
          th id
          th firstname
          th lastname
          th email
          th number
          th cost
          th date
          th status     
 -if(user=='manager'||user=='admin'){
 div(id="userInf")
    label
      input(type='text' id='id' name='id' pattern="^[ 0-9]+$")
    label
      input(type='text' id='firstname'  name='firstname')
    label
      input(type='text' id='lastname' name='lastname')
    label
      input(type='text' id='email' name='email')
    label
      input(type='text'  id='number' name='number' pattern="^[ 0-9]+$")
    label
      input(type='text' id='cost' name='cost' pattern="^[ 0-9]+$")
    label
      input(type='text' id='date' name='date' )
    label
      input(type='text' id='status' name='status' )
    br
    input(type='submit' id="addElem")
 -}
         
script
      include script.js
      -if(user=='manager'||user=='admin'){
      include scriptForChange.js
      -}