doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  style
      include style.css
  title Document
form(method='GET' action='http://localhost:5000/main')
    input(type='submit' value='Отправить')

button#addToBD Добавить элемент

-if(elem.length!=0){
table#table
        tr
          th id
          th firstname
          th lastname
          th email
          th number
          th cost
          th status
        - for(var i=0;i<elem.length;i++){
        tr
        -for (let key in elem[i])
         td= elem[i][key]
         -}
-}
         
script
      include script.js