body{
    background-color: rgb(194, 218, 223);
}
td:hover{
    color: red;
}

input{
    background-color: rgb(175, 240, 218);
}

.select{
    float: left;
    margin: 2px;
}

.tab{
    float: left;
    padding-left: 100px;

    margin: 2px;
}

table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;
    }
    th, td:first-child {
    background: #AFCDE7;
    color: white;
    padding: 10px 20px;
    }
    th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
    }
    td {
    background: #D8E6F3;
    }
    th:first-child, td:first-child {
    text-align: left;
    }
    .selected{
        border: 2px solid rgb(253, 0, 0);
        font-size: 16px;
    }

    .b-popup{
        width:100%;
        min-height:100%;
        background-color: rgba(0,0,0,0.5);
        overflow:hidden;
        position:fixed;
        top:0px;
    }
    .b-popup .b-popup-content{
        margin:40px auto 0px auto;
        width:1000px;
        height: 400px;
        padding:10px;
        background-color: #c5c5c5;
        border-radius:5px;
        box-shadow: 0px 0px 10px #000;
    }

    .table_sort table {
        border-collapse: collapse;
    }
    
    .table_sort th {
        color: #ffebcd;
        background: #008b8b;
        cursor: pointer;
    }
    
    .table_sort td,
    .table_sort th {
        width: 150px;
        height: 40px;
        text-align: center;
        border: 2px solid #846868;
    }
    
    .table_sort tbody tr:nth-child(even) {
        background: #e3e3e3;
    }
    
    th.sorted[data-order="1"],
    th.sorted[data-order="-1"] {
        position: relative;
    }
    
    th.sorted[data-order="1"]::after,
    th.sorted[data-order="-1"]::after {
        right: 8px;
        position: absolute;
    }
    
    th.sorted[data-order="-1"]::after {
        content: "▲"
    }
    
    th.sorted[data-order="1"]::after {
        content: "▼"
    }

