body{
    background-color: rgb(145, 184, 182);
    padding: 0px;
}
.description{
    height: 200px;
    width: 100px;
}
.panel{ 
    width: 120px;
    position:fixed ; 
    right: 20px;
    opacity: 90%;
}
.message{
 color: black;
 position: fixed;
 right: 20px;
 bottom: 20px;
 background: rgb(255, 255, 255);
 text-align: justify;
 padding: 10px;
 box-shadow: 0 0 10px rgba(0,0,0,0.5);
 border-radius: 10px;
}
#header{
    background-color: rgb(218, 218, 238);
    height: 100px;
    margin: -10px -10px 20px -10px;
    position: relative;
    border: 1px solid black;
}
#header p {
    font-size: 30px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }


#loginField{
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
}
    #loginField form fieldset{
            background: linear-gradient(rgb(187, 187, 230), pink);
    }

input{
    background-color: rgb(200, 226, 217);
}
select{
    background-color: rgb(200, 226, 217);
}
#selectorElem{
    width: 400px;
    margin-right: 10px;
}

#selectorElem div{
    border: 1px solid rgb(17, 4, 4);
   
    width: 400px;
}

.select{
    float: left;
    margin: 2px;
}

.tab{
 
    float: left;
    margin: 2px;
}

table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;
    border: 2px solid black;
    }
    tr th:nth-child(7){
        width: 150px;
    }
    tr th:nth-child(9){
        width: 250px;
    }
    th, td:first-child {
    background: #AFCDE7;
    color: white;
    padding: 10px 20px;
    }
    th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
    }
    td {
    background: #D8E6F3;
    }
    th:first-child, td:first-child {
    text-align: left;
    }
    td:hover{
        color: red;
    }
    .selected{
        border: 2px solid rgb(253, 0, 0);
        font-size: 14px;
    }
    .table_sort table {
        border-collapse: collapse;
    }
    
    .table_sort th {
        color: #ffebcd;
        background: #85c7c7;
        cursor: pointer;
    }
    
    .table_sort td,
    .table_sort th {
        width: 150px;
        height: 40px;
        text-align: center;
        border: 2px solid #846868;
    }
    
    .table_sort tbody tr:nth-child(even) {
        background: #e3e3e3;
    }
    
    th.sorted[data-order="1"],
    th.sorted[data-order="-1"] {
        position: relative;
    }
    
    th.sorted[data-order="1"]::after,
    th.sorted[data-order="-1"]::after {
        right: 8px;
        position: absolute;
    }
    
    th.sorted[data-order="-1"]::after {
        content: "▲"
    }
    
    th.sorted[data-order="1"]::after {
        content: "▼"
    }




.b-popup{
        width:100%;
        min-height:100%;
        background-color: rgba(0,0,0,0.5);
        overflow:hidden;
        position:fixed;
        top:0px;
    }
    .b-popup .b-popup-content{
        margin:40px auto 0px auto;
        width: 300px;
        padding:10px;
        background-color: #b5d1b7;
        border-radius:5px;
        box-shadow: 0px 0px 10px #000;
    }