<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="http://localhost:5000/select" method="POST">
          <legend>ID</legend>
          <label>от:<input type="text" name='idFrom'></label>
          <label>до:<input type="text" name='idTo'></label>
          <legend>Имя</legend>
          <label><input type="text" name='firstname'></label>
          <legend>Фамилия</legend>
          <label><input type="text" name='lastname'></label>
          <legend>Email</legend>
          <label><input type="text" name='email'></label>
          <legend>Телефонный номер</legend>
          <label><input type="text" name='number'></label>
          <legend>Цена заказа</legend>
          <label>от:<input type="text" name='costFrom'></label>
          <label>до:<input type="text" name='costTo'></label>
          <legend>Статус заказа</legend>
          <label><input type="text" name='status'></label>
        <input type="submit">
      </form>
</body>
</html>