doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  style
      include ../style.css
  title ИС по контролю выполнения заказов
div#header 
 p ИС по контролю выполнения заказов

block content 
 